extends layout
block content
  h1= title
  - let teslas = [{teslaModel:"Model 3", teslaPrice: 300000, teslaRange:"500 Miles"},{teslaModel:"Cyber Truck", teslaPrice: 5000000, teslaRange:"600 Miles"},{teslaModel:"Roadster", teslaPrice: 3000000, teslaRange:"400 Miles"}]
  div(class="container-fluid mt-3")
  div(class="row")
    each tesla,index in teslas
        div(class="col-sm-4") #{tesla.teslaModel} - #{tesla.teslaPrice} - #{tesla.teslaRange} 